@using MattEland.Wherewolf.BlazorFrontEnd.Helpers
<MudSimpleTable Class="mt-1" Dense="true">
    <thead>
    <th>Role</th>
    <th>Claims</th>
    <th>Support</th>
    <th>In Play %</th>
    <th>In Center %</th>
    <th>Risk Score</th>
    </thead>
    <tbody>
    @foreach (var kvp in Stats)
    {
        <tr class="@(kvp.Key == Claim ? "mud-theme-dark" : "")">
            <th style="display: flex; justify-content: stretch;">
                @if (AllowClaimingRole)
                {
                    <MudButton Variant="Variant.Filled"
                               Color="@kvp.Key.GetTeamColor()"
                               StartIcon="@kvp.Key.GetRoleIcon()"
                               Size="Size.Large"
                               Style="flex-grow: 1;"
                               OnClick="() => RoleClaimed(kvp.Key)">
                        @kvp.Key
                    </MudButton>
                }
                else if (kvp.Key == Claim)
                {
                    <div style="display: flex; flex-direction: row; align-items: center;">
                        <MudIcon Color="Color.Success" 
                                 Icon="@kvp.Key.GetRoleIcon()" 
                                 Class="mr-1"
                                 Size="Size.Medium"/>
                        <MudText Color="Color.Success" Align="Align.Left" Typo="Typo.h6">
                            @kvp.Key
                        </MudText>
                    </div>
                }
                else
                {
                    <div style="display: flex; flex-direction: row; align-items: center;">
                        <MudIcon Color="@kvp.Key.GetTeamColor()" 
                                 Icon="@kvp.Key.GetRoleIcon()" 
                                 Class="mr-1"
                                 Size="Size.Medium"/>
                        <MudText Color="@kvp.Key.GetTeamColor()" Align="Align.Left">
                            @kvp.Key
                        </MudText>
                    </div>
                }
            </th>
            <td>@kvp.Value.OtherClaims.ToString("0")</td>
            <td>@kvp.Value.Support.ToString("0")</td>
            <td>@kvp.Value.InPlayPercent.ToString("P0")</td>
            <td>@kvp.Value.OutOfPlayPercent.ToString("P0")</td>
            <td>@kvp.Value.VoteFactor.ToString("0")</td>
        </tr>
    }
    </tbody>
</MudSimpleTable>